.calendar-table td {
    width: 14.28%;
    height: 100px;
    vertical-align: top;
    position: relative;
    cursor: pointer;
}
.heart {
    color: red;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.nav-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Icono flotante para subir imágenes */
.upload-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;

    img {
        width: 30px;
        height: 30px;
        filter: invert(1); /* Hace el icono blanco */
    }

    &:hover {
        transform: scale(1.1);
        background-color: #0056b3;
    }
}

