body {
    background: linear-gradient(to bottom, #fdf1ff, #d3eaff, #fef8e4);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
p{
	margin: 10px;
	font-size: 13px;
    line-height: 2.2;
	text-align: justify;   
}
#txt{
    margin: 10px;
    font-size: 13px;
    line-height: 2.2;
    text-align: justify;
    font-weight: 530 !important;
    color: #353533;
}
.containerbook, .book-content{
	display: flex;
	justify-content: center;
	align-items: center;    
}
.containerbook{
	width: 100%;
	height: 100vh;
}
.book-content{
	width: 100%;
	min-width: 250px;
	max-width: 850px;
	height: 700px;
	position: relative;
	perspective: 1000px;
	transition: 1s;
}
.book{
	position: absolute;
	width: 65%;
	height: 110%;
	transition: 1s;
	transform-style: preserve-3d;
	transform-origin: left; 
}
.face-front, .face-back {
    width: 100%;
    height: 100%;
    background: #f5f0e6; /* Fondo crema */
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #c4b89a; /* Borde cálido */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 0 15px rgba(0, 0, 0, 0.05);
    background-image: url('https://www.transparenttextures.com/patterns/white-wall.png');
    background-size: cover;
    border-radius: 10px; /* Bordes redondeados */
}

.face-front{
	box-shadow: inset 3px 0px 20px -7px black;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.face-back{
	position: absolute;
	top: 0;
	left: 0;
	transform: translateZ(-1px) rotateY(180deg);
	box-shadow: inset -3px 1px 20px -7px black;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
    
}
#portada{
	background: url('../../../build/img/portada.jpg');
}
#portada-back{
	background: url('../../../build/img/portada.jpg');;
}
#portada, #portada-back{
	background-size: 100% 100%;
}

/* Clases que se agregaran con Javascript */

.trnsf{
        transform: translateX(240px);
    }
    .trnsf-reset{
        transform: translateX(0px);
    }

/* @media para hacer el texto responsivo */

@media screen and (max-width: 800px){
	p{
		font-size: 12px;
	}
}
@media screen and (max-width: 1650px){
    .trnsf{
        transform: translateX(300px);
    }
}

@media screen and (max-width: 1400px){
    .trnsf{
        transform: translateX(220px);
    }
    .trnsf-reset{
        transform: translateX(0px);
    }
    .book-content{
        width: 100%;
        min-width: 250px;
        max-width: 600px;
        height: 600px;
        position: relative;
        perspective: 1000px;
        transition: 1s;
    }
    p{
        font-size: 10px;
    }
    #txt{
        font-size: 10px;
    }
}

@media screen and (max-width: 1250px){
    .trnsf{
        transform: translateX(180px);
    }
    .trnsf-reset{
        transform: translateX(0px);
    }
    .book-content{
        width: 100%;
        min-width: 250px;
        max-width: 600px;
        height: 600px;
        position: relative;
        perspective: 1000px;
        transition: 1s;
    }
    p{
        font-size: 10px;
    }
    #txt{
        font-size: 10px;
    }
}


@media screen and (max-width: 750px){
    .trnsf{
        transform: translateX(150px);
    }
    .trnsf-reset{
        transform: translateX(0px);
    }
    .book-content{
        width: 100%;
        min-width: 250px;
        max-width: 400px;
        height: 500px;
        position: relative;
        perspective: 1000px;
        transition: 1s;
    }
}


.page-indicator {
    position: absolute;
    bottom: 10px; /* Ajusta según sea necesario */
    right: 15px; /* Ajusta según sea necesario */
    color: #000000; /* Texto blanco */
    font-size: 12px; /* Tamaño del texto */
    font-weight: 800;
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 15px; /* Borde redondeado */
    font-family: "Roboto Mono", monospace; /* Fuente consistente */
    text-align: center;
}
