body {
  font-family: "Vibur", cursive;
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  font-family: "Vibur", cursive;
  font-size: 20px;
  background: linear-gradient(90deg, #f0c3fc, #d4f1f9);
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  font-family: "Vibur", cursive;
  font-size: 20px;
  width: auto !important;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  background: linear-gradient(90deg, #f0c3fc, #d4f1f9);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  gap: 1.9rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

nav a {
  font-family: "Vibur", cursive;
  font-size: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #ffffff;
  color: #0078d7;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: #333;
  border-radius: 5px;
  transition: all 0.3s linear;
}

@media (max-width: 1200px) {
  nav {
    flex-direction: column;
    gap: 1rem;
    display: none;
  }

  nav.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

@media (max-width: 1200px) {
  nav {
    width: 80% !important;
    gap: 1rem;
  }
}


nav a.active {
  background-color: #0078d7; /* Fondo azul */
  color: #fff; /* Texto blanco */
  border: 2px solid #ffffff; /* Borde blanco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para resaltar */
}
