body {
    font-family: "Roboto Mono", monospace;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

#videosContainer {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    margin-top: 20px;
}

// Estilo Polaroid para videos
.polaroid-video {
    position: relative;
    background: white;
    border: 10px solid #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    width: 500px; // Ancho fijo
    height: auto; // Altura dinámica
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    iframe {
        width: 100%;
        height: 170px; // Ajuste del tamaño del video
        margin-bottom: 10px;
        border-radius: 8px; // Bordes redondeados
    }

    .video-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333;
        text-align: center;
        margin-top: 5px;
        font-family: "Roboto Mono", monospace;
    }
}

// Responsive
@media (max-width: 768px) {
    .polaroid-video {
        width: 90%;
    }
}

.video-section {
    margin: 20px 0;
    text-align: center;
}

.video-section h2 {
    font-size: 2.0rem;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 10px;
    padding-bottom: 8px; /* Espacio entre texto y línea */
}

.video-section h2::after {
    content: "";
    display: block;
    width: 80%;
    text-align: center;
    font-size: 2.0rem;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; // Espacio después de la fecha
    margin-top: 20px;    // Espacio superior
    padding-bottom: 5px; // Espacio antes de la línea
    border-bottom: 2px solid #ddd; // Línea divisoria
    margin: 0 auto;
}

.polaroid-video {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background: #fff;
}

.video-title {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
}
